<div class="container">
  <div class="greeting">
    <h2>Finden Sie jetzt Ihren Laufburschen!</h2>
    <p>Unsere Mission ist es, hilfsbedürftige und hilfsbereite Menschen zusammen zu bringen!</p>
    <p>
      Wenn Sie zur Corona Risikogruppe gehören, sollten Sie möglichst wenig das Haus verlassen. Unser
      Service kann Ihnen dabei behilflich sein. Wir bringen Sie mit den sog. Laufburschen zusammen.
      Diese können dann Besorgungen für Sie erledigen.
    </p>
    <p>Bitte wählen Sie:</p>
  </div>
  <div class="buttons">
    <div>
      <a mat-raised-button color="primary" class="cta" routerLink="/order">Ich brauche Hilfe</a>
    </div>
    <div>
      <a mat-raised-button color="primary" class="cta" routerLink="/offer-help">Ich möchte helfen</a>
    </div>
    <div>
      <button mat-raised-button color="primary" class="cta" disabled>Ich bin Händler</button>
    </div>
  </div>
</div>
